@charset "UTF-8";
/**
 * 
 * @authors  wyk
 * @date    2016-12-17 09:21:44
 * @version v1.0
 */
/* 重置样式*/
.min-width{
    width:100%;
    min-width:1200px;
}
.wrapper{
    width:1200px;
    margin:0 auto;
}
/* swiper 所需样式 */
.swiper-container{
    cursor: default !important;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:-21px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 50px;
  height: 5px;
  background: #bebebe;
  margin: 0 10px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #a98251;
}
/* 板块顶部通用 */
.common .wrapper{
    padding:70px 0 6px 0;
}
.common .tit{
    margin-bottom:80px;
    text-align:center;
    color:#000;
}
.common .tit p{
    padding-top:10px;
    font-size:22px;
}

/* good-team satrt*/
.good-team .txt{
    width:582px;
    padding:40px 0 74px 0;
    text-align:center;
    color:#000;
}
.good-team .show>ul>li{
    margin-bottom:42px;
}
.good-team .show h4{
    font-size:22px;
    margin-bottom:8px;
}
.good-team .show .txt p{
    font-size:18px;
}
.good-team .show li:hover .txt{
    background:#000;
    opacity:.5;
    filter:alpha(opacity=50);
    color:#ebad5e;
}
.good-team .show .txt p span{
    color:#999;
}
.good-team .show .pic i{
    position:absolute;
    top:116px;
    left:0;
    display:block;
    width:30px;
    height:60px;
    background:url(../images/about-good-team-triangle.png) no-repeat;
}
.good-team .show .index1 .pic i{
    left:554px;
    background:url(../images/about-good-team-triangle-left.png) no-repeat;
}
.good-team .show .pic p{
    position:absolute;
    top:42px;
    left:-96px;
    font-size:34px;
    color:#a98251;
    transition:all .5s;
}
.good-team .show li:hover .pic p{
    -webkit-transform:translateX(-20px);
       -moz-transform:translateX(-20px);
        -ms-transform:translateX(-20px);
         -o-transform:translateX(-20px);
            transform:translateX(-20px);
}
.good-team .show .index1:hover .pic p{
    -webkit-transform:translateX(20px);
       -moz-transform:translateX(20px);
        -ms-transform:translateX(20px);
         -o-transform:translateX(20px);
            transform:translateX(20px);
}
.good-team .show .index1 .pic p{
    left:510px;
    color:#fff;
}
.good-team .show .index1 .pic p{
    right:-96px;
}
.good-team .show .pic p span{
    color:#fff;
}
.good-team .show .index1 .pic p span{
    color:#a98251;
}
.good-team .show li:hover img{
    -webkit-transform:translateY(-10px);
       -moz-transform:translateY(-10px);
        -ms-transform:translateY(-10px);
         -o-transform:translateY(-10px);
            transform:translateY(-10px);
}
/* good-team end*/
/* about start */
.about{
    height:640px;
    padding-top:143px;
    background:url(../images/about-aboutbg0.png) no-repeat;
}
.about .wrapper{
    height:533px;
    background:url(../images/about-aboutbg1.png) no-repeat;
}
.about .wrapper .pic{
    top:-180px;
    left:-132px;
}
.about .wrapper .pic:hover img{
    -webkit-transform:scale(1.1);
       -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
         -o-transform:scale(1.1);
            transform:scale(1.1);
}
.about .txt{
    margin-left:555px;
    width:590px;
}
.about .txt .up{
    transform:translateY(100px);
}
.about .txt .down{
    transform:translateY(0);
}
.about .txt .maintit{
    padding-top:74px;
    margin-bottom:24px;
}
.about .txt p{
    padding-top:54px;
    font-size:14px;
    color:#fff;
    text-align:center;
    position: relative;
    transition:all 1s;
}
/* about end */
/*client start*/
.client{
    margin-bottom:70px;
}
.client .case{
    height:644px !important;
}
.client .case li{
    float:left;
    width:378px;
    height:220px;
    padding-top:52px;
    padding-left:30px;
    background:#545454;
    position:relative;
    margin-bottom: 36px;
    transition:all .3s;
}
.client .case .index1{
    margin-left:262px;
}
.client .case li>p{
    font-size:12px;
    color:#fff;
    width:246px;
}
.client .case li>a{
    display:block;
}
.client .case li .date{
    margin-bottom:30px;
}
.client .case li .pic{
    top:20px;
    right:-122px;
    overflow:hidden;
}
.client .case li .pic:hover img{
    -webkit-transform:scale(1.1);
       -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
         -o-transform:scale(1.1);
            transform:scale(1.1);
}
.client .case li .more{
    bottom:-16px;
    left:36px;
    width:126px;
    height:32px;
    background:#282828;
    color:#fff;
    line-height:32px;
    text-align:center;
    transition:all .3s;
}
.client .case li .more b{
    top:5px;
    right:5px;
    width:24px;
    height:24px;
    line-height:24px;
    font-family: "";
}
.client .case li:hover{
    background:#a98251;
}
.client .case li:hover .more{
    color:#a98251;
}
.client .case li:hover b{
    right:-12px;
    background:#545454;
}
.client .pagebtn{
    text-align:center;
    font-size:0;
    padding-top:70px;
}
.client .pagebtn li{
    display:inline-block; 
    *display:inline; 
    *zoom:1;
    width:50px;
    height:5px;
    background:#bebebe;
    margin:0 10px;
}
.client .pagebtn .active{
    background:#a98251;
}
/*client end*/
/*connect start*/
.connect{
    height:485px;
    background:url(../images/about-connectbg.png) no-repeat;
    color:#fff;
    font-size:14px;
}
.connect .tit p{
    color:#fff;
}
.connect .cont .info p{
    padding-left:24px;
    background:url(../images/about-sprites.png) no-repeat;
    margin-bottom:16px;
}
.connect .cont .info .index0{
    background-position:0 -12px;
}
.connect .cont .info .index1{
    background-position:0 -94px;
}
.connect .cont .info .index2{
    background-position:0 10px;
}
.connect .cont .center{
    width:324px;
    height:72px;
    line-height: 72px;
    text-align: center;
    margin-left:200px;
    top:20px;
    left:0;
}
.connect .cont .center .box li{
    position: absolute;
    left:0;
    top:0;
    width:324px;
    height:72px;
}
.connect .cont .center .box .front{
    background:#a98251;
}
.connect .cont .center .box .front:hover{
    background:#fff;
}
.connect .cont .center .box .front:hover a{
    color:#a98251;
    font-size: 24px;
}
.connect .cont .center .front a{
    color:#fff;
}
.connect .msg{
    right:0;
    top:-70px;
}
.connect .msg .com{
    background:url(../images/about-sprites.png) no-repeat;
    border:1px solid #525252;
    padding-left:6px;
    margin-bottom: 10px;
}
.connect .msg input,.connect .msg textarea{
    width:304px;
    padding-left:6px;
    height:30px;
    line-height: 30px;
    border:0;
    background:none;
    color:#fff;
}
.connect .msg .name{
    background-position:320px -33px;
}
.connect .msg .num{
    background-position:320px -63px;
}
.connect .msg .last{
    border:1px solid #525252;
    padding-left:6px;
    margin-bottom: 10px;
}
.connect .msg textarea{
    height:92px;
    vertical-align: top;
}
.connect .msg button{
    width:94px;
    height:32px;
    line-height:32px;
    background:#000;
    border:0;
    color:#fff;
    transition:all .3s;
}
.connect .msg button:hover{
    background:#fff;
    color:#a98251;
}
/*connect end*/
/* recruit start */
.recruit{
    margin-bottom: 68px;
}
.recruit .list{
    overflow: hidden;
}
.recruit .list .index{
    top:0;
    left:0;
}
.recruit .list .index ul{
    float:left;
}
.recruit .need li{
    float:left;
    width:225px;
    overflow: hidden;
    margin-right: 18px;
}
.recruit .need  .last{
    margin-right:3px;
}
.recruit .need li>p{
    padding-top:30px;
    font-size:18px;
    text-align:center;
    color:#000;
}
.recruit .need li .overlay{
    top:0;
    left:-225px;
    width:181px;
    height:330px;
    background:rgb(0,0,0);
    opacity: .8;
    filter:alpha(opacity=0);
    color:#fff;
    padding:26px 22px 0;
}
.recruit .need li:hover .overlay{
    left:0;
    filter:alpha(opacity=80);
}
.recruit .need li .overlay dl{
    line-height: 30px;
    margin-bottom: 20px;
}
.recruit .need li .overlay a{
    display:block;
}
.recruit .need li .overlay p{
    width:114px;
    height:24px;
    background:#fff;
    margin:0 auto;
    color:#a98251;
    line-height:24px;
    text-align: center;
}
.recruit .btn{
    top:50%;
    width:42px;
    height:84px;
    margin-top:42px;
    font-family:"";
    font-size:36px;
    color:#fff;
    text-align: center;
    line-height: 84px;
    background:#dedede;
    cursor:pointer;
}
.recruit .btn:hover{
    background:#ddc7ab;
}
.recruit .prev{
    right:-70px;
}
.recruit .back{
    left:-70px;
}
/* recruit end */


