@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-12-16 20:43:27
 * @version $Id$
 */
/*顶部开始*/
.header{
    width:100%;
    height:88px;
    background-color:#131313;
    min-width:1200px;
    position:relative;
}
.header .logo h1{
    background-image:url(../images/bridal-img.png);
    width:138px;
    height:49px;
}
.header .wrap{
    width:1200px;
    margin:0 auto;
    height:88px;
}
.header .wrap .nav{
    width:875px;
    margin-left:162px;
    height:88px;
    position:relative;
}
.header .logo{
    width:138px;
    height:49px;
    margin-top:20px;
    margin-left:-250px;
}
.header .wrap .nav li{
    color:#fff;
    font-size:14px;
    /*border:1px solid red;
    */float:left;
    width:107px;
    height:88px;
    line-height:88px;
    text-align:center;
}
.header .wrap .nav li:hover{
    color::;
    color:#ad8a5c;
}
.header .phone .phone1{
    width:140px;
    height:23px;
    color:#fff;
    margin-bottom:5px;
}
.header .phone{
    width:140px;
    height:60px;
    position:absolute;
    right:0;
    top:15px;
    margin-right:20px;
}
.header .phone span{
    color:#fff;
    font-size:16px;
}
.header .phone .phone1 .icon{
    width:21px;
    height:20px;
    display:inline-block;
    background:url(../images/index-sprite.png);
    vertical-align:middle;
}
.header .phone .make{
    width:140px;
    height:23px;
    color:#fff;
    background-color:#a97432;
    text-align:center;
    line-height:23px;
    margin-top:-2px;
}
.header .phone .make:hover{
    opacity:0.7;
}
.header .wrap .nav .last{
    width:110px;
}
@media (max-width:1800px){
    .phone{display:none;}
    .header .wrap .nav span{margin-right:40px;}
    .header .wrap .nav{margin-left:250px;}
}
/*banner 样式*/
.banner{
    height: 536px;
    // overflow: hidden;
}
.banner .tit1{
    top:0;
    left: 0;
    width: 100%;
    height: 34%;
    background: rgba(255,255,255,.74);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2ffffff,endColorstr=#B2ffffff);
    z-index: 2;
    text-align: center;
    line-height: 178px;
    padding-top:79px;
    box-sizing: border-box;
}
.banner .tit2{
    bottom:0;
    left: 0;
    width: 100%;
    height: 34%;
    background: rgba(255,255,255,.74);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2ffffff,endColorstr=#B2ffffff);
    z-index: 2;
    text-align: center;
    line-height: 178px;
    padding-top: 45px;
    box-sizing: border-box;
}
.banner .banner-cont .slider-wrapper{
    width:100%;
    top:0;
    left:0;
    font-size:0;
}
.banner .banner-cont .slider-wrapper .slide{
    top:0;
    left:0;
    width: 1903px;
    height:536px;
    overflow:hidden;
}
.banner .banner-cont .slider-wrapper .slide img{
    width: 1920px;
    height:536px;
}
.banner .banner-cont{
    height: 536px;
}
.banner .banner-cont ul{
    width: 100%;
    text-align:center;
    left:0;
    bottom:10px;
}
.banner .banner-cont ul li{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background:#fff;
    display: inline-block;
    cursor:pointer;
    margin-right:10px;
}
.banner .banner-cont ul .cur{
    background:#b09066;
}
/*original 样式*/
.original .arrow-left {
  background: rgba(204,204,204,.7);
  position: absolute;
  left: -107px;
  top: 304px;
  margin-top: -42px;
  width: 49px;
  height: 84px;
  border-radius: 5px;
  transition:all .4s;
}
.original .arrow-left:after{
    content:"";
    background: #a98251;
    width:100%;
    height: 0;
    position: absolute;
    left:0;
    top:42px;
    transition:all .4s;
    background-position: center center;
}
.original .arrow-left:hover:after{
  height: 84px;
  top:0;
  border-radius: 5px;
}
.original .arrow-left i{
    background: url(../images/arrows.png) no-repeat left top;
    display: block;
    width: 17px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    z-index:5;
}
.original .arrow-right {
  background: rgba(204,204,204,.7);
  position: absolute;
  right: -107px;
  top: 304px;
  margin-top: -15px;
  width: 49px;
  height: 84px;
  border-radius: 5px;
  transition:all .4s;
}
.original .arrow-right:after{
    content:"";
    background: #a98251;
    width:100%;
    height: 0;
    position: absolute;
    left:0;
    top:42px;
    transition:all .4s;
    background-position: center center;
}
.original .arrow-right:hover:after{
  height: 84px;
  top:0;
  border-radius: 5px;
}
.original .arrow-right i{
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -15px;
  background: url(../images/arrows.png) no-repeat left bottom;
  width: 17px;
  height: 30px;
  z-index: 5;
}
.original{
    background: #eee;
    padding-top: 35px;
    padding-bottom: 31px;
}
.original .ori-wrapper{
    width: 1232px;
    margin:0 auto;
}
.original .title{
    text-align: center;
}
.original .title h2{
    margin-bottom: 23px;
}
.original .title h3{
    margin-bottom: 134px;
}
.original .ori-nav{
    top:-56px;
    left:0;
    margin-bottom: 43px;
    text-align: center;
    width: 100%;
    position: absolute;
}
.original .swiper-pagination-switch {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.original .swiper-active-switch {
    color:#a97739;
    font-weight: bold;
}
.original .ori-nav span{
  margin-left: 28px;
}
.original .ori-nav li{
    color:#a98251;
    font-size: 16px;
    line-height: 20px;
    margin-right: 30px;
}
.original .ori-nav li a{
    color:#a98251;
    transition:all .3s;
}
.original .ori-nav li a:hover{
    color:#88500a;
}
.original .ori-nav li a:hover span{
    font-size:16px;
}
.original .case-show .case-cont{
    overflow: hidden;
    height: 775px;
}
.original .case-show .case-cont .swiper-slide ul{
    width: 1232px;
    height: 775px;
    margin:0 auto;
    background: #fff;
}
.original .case-show  .case-cont .swiper-slide ul li{
    position: absolute;
}
.original .case-show  .case-cont .swiper-slide ul .mask a{
    display: block;
    width: 97px;
    height: 29px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 29px;
    position: absolute;
    border:1px solid #fff;
}
.original .case-show  .case-cont .swiper-slide ul .show1 .mask1{
    background: url(../images/show-mask11.png);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition:all .4s;
    opacity: 0;
}
.original .case-show  .case-cont .swiper-slide ul .show1 .mask1 .border1{
    position: absolute;
    top: 14%;
    left:18%;
    right:18%;
    bottom:50%;
    border: 1.5px solid rgb(255,255,255);
    border-width: 1.5px 0 1.5px 0;
    opacity:0;
    transform:translate(-500px,0px);
    transition-delay:0.1s;
    transition:all .4s;

}
.original .case-show  .case-cont .swiper-slide ul .show1 .mask1 .border2{
    position: absolute;
    top: 12%;
    left:20%;
    right:20%;
    bottom:48%;
    border: 1.5px solid rgb(255,255,255);
    border-width: 0 1.5px 0 1.5px;
    opacity:0;
    transform:translate(0px,500px);
    transition-delay:0.3s;
    transition:all .4s;

}
.original .case-show  .case-cont .swiper-slide ul .show1:hover  .border1,.original .case-show  .case-cont .swiper-slide ul .show1:hover .border2{
    transform:translate(0px,0px);
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show1 .mask1 a{
    top:163px;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
    transform:translate(0px,60px);
    opacity: 0;
    transition-delay:0.3s;
    transition:all .4s;
    z-index: 5;
}
.original .case-show  .case-cont .swiper-slide ul .show1:hover .mask1{
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show1:hover .mask1 a{
    transform:translate(0px,30px);
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show2{
    left:8px;
    top:327px;
}
.original .case-show  .case-cont .swiper-slide ul .show2 .mask2{
    background: url(../images/show-mask2.png);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition:all .4s;
    opacity: 0;
}
.original .case-show  .case-cont .swiper-slide ul .show2 .mask2 .border1{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 14px;
    transform: rotate(7deg);
    transform-origin: left;
}
.original .case-show  .case-cont .swiper-slide ul .show2 .mask2 .border2{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 24px;
    left: 11px;
    transform: rotate(7deg);
    transform-origin: right;
}
.original .case-show  .case-cont .swiper-slide ul .show2 .mask2 a{
    top:50%;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
    transform:translate(0px,60px);
    opacity: 0;
    transition-delay:0.3s;
    transition:all .4s;
    z-index: 5;
}
.original .case-show  .case-cont .swiper-slide ul .show2:hover .mask2{
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show2:hover .mask2 .border1{
    transform: rotate(44deg);
}
.original .case-show  .case-cont .swiper-slide ul .show2:hover .mask2 .border2{
    transform: rotate(41deg);
}
.original .case-show  .case-cont .swiper-slide ul .show2:hover .mask2 a{
    transform:translate(0px,0px);
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show3{
    left:306px;
    top:327px;
}
.original .case-show  .case-cont .swiper-slide ul .show3 .mask3{
    background: url(../images/show-mask3.png);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition:all .4s;
    opacity: 0;
}
.original .case-show  .case-cont .swiper-slide ul .show3 .mask3 .border1{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 14px;
    transform: rotate(-7deg);
    transform-origin: right;
}
.original .case-show  .case-cont .swiper-slide ul .show3 .mask3 .border2{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 24px;
    left: 11px;
    transform: rotate(-7deg);
    transform-origin:left;
}
.original .case-show  .case-cont .swiper-slide ul .show3 .mask3 a{
    top:50%;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
    transform:translate(0px,60px);
    opacity: 0;
    transition-delay:0.3s;
    transition:all .4s;
    z-index: 5;
}
.original .case-show  .case-cont .swiper-slide ul .show3:hover .mask3{
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show3:hover .mask3 .border1{
    transform: rotate(-44deg);
}
.original .case-show  .case-cont .swiper-slide ul .show3:hover .mask3 .border2{
    transform: rotate(-40deg);
}
.original .case-show  .case-cont .swiper-slide ul .show3:hover .mask3 a{
    transform:translate(0px,0px);
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show4{
    left:604px;
    top:327px;
}
.original .case-show  .case-cont .swiper-slide ul .show4 .mask4{
    background: url(../images/show-mask2.png);
    top:0;
    left:0;
    width: 100%;
    transition:all .4s;
    height: 100%;
    opacity: 0;
}
.original .case-show  .case-cont .swiper-slide ul .show4 .mask4 a{
    top:50%;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
}
.original .case-show  .case-cont .swiper-slide ul .show4 .mask4 .border1{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 14px;
    transform: rotate(7deg);
    transform-origin: left;
}
.original .case-show  .case-cont .swiper-slide ul .show4 .mask4 .border2{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 24px;
    left: 11px;
    transform: rotate(7deg);
    transform-origin: right;
}
.original .case-show  .case-cont .swiper-slide ul .show4 .mask4 a{
    top:50%;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
    transform:translate(0px,60px);
    opacity: 0;
    transition-delay:0.3s;
    transition:all .4s;
    z-index: 5;
}
.original .case-show  .case-cont .swiper-slide ul .show4:hover .mask4{
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show4:hover .mask4 .border1{
    transform: rotate(44deg);
}
.original .case-show  .case-cont .swiper-slide ul .show4:hover .mask4 .border2{
    transform: rotate(41deg);
}
.original .case-show  .case-cont .swiper-slide ul .show4:hover .mask4 a{
    transform:translate(0px,0px);
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show4:hover .mask4{
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show5{
    left:903px;
    top:328px;
}
.original .case-show  .case-cont .swiper-slide ul .show5 .mask5{
    background: url(../images/mask5.png);
    top:0;
    left:0;
    width: 100%;
    transition:all .4s;
    height: 100%;
    opacity: 0;
}
.original .case-show  .case-cont .swiper-slide ul .show5 .mask5 a{
    top:50%;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
}
.original .case-show  .case-cont .swiper-slide ul .show5 .mask5 .border1{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 14px;
    transform: rotate(-7deg);
    transform-origin: right;
}
.original .case-show  .case-cont .swiper-slide ul .show5 .mask5 .border2{
    transition:all .4s;
    width: 296px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 24px;
    left: 11px;
    transform: rotate(-7deg);
    transform-origin:left;
}
.original .case-show  .case-cont .swiper-slide ul .show5 .mask5 a{
    top:50%;
    left: 50%;
    margin-left: -49px;
    margin-top:-15px;
    transform:translate(0px,60px);
    opacity: 0;
    transition-delay:0.3s;
    transition:all .4s;
    z-index: 5;
}
.original .case-show  .case-cont .swiper-slide ul .show5:hover .mask5{
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show5:hover .mask5 .border1{
    transform: rotate(-44deg);
}
.original .case-show  .case-cont .swiper-slide ul .show5:hover .mask5 .border2{
    transform: rotate(-40deg);
}
.original .case-show  .case-cont .swiper-slide ul .show5:hover .mask5 a{
    transform:translate(0px,0px);
    opacity: 1;
}
.original .case-show  .case-cont .swiper-slide ul .show5:hover .mask5{
    opacity: 1;
}
/*hot 样式*/
.hot {
    padding-top: 115px;
    background: #eee;
}
.hot .time{
    left:109px;
    top:0;
}
.hot .title{
    text-align: center;
}
.hot .title h2{
    margin-bottom: 20px;
}
.hot .title h3{
    margin-bottom: 65px;
}
.hot .hot-cont{
  overflow: hidden;
    height: 556px;
    margin-bottom: 65px;
}
.hot .show {
    width: 1200px;
    height: 441px;
}
.hot .show .mask1{
    width: 100%;
    height: 100%;
    background: url(../images/case-ori-mask.png);
    top:0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition:all .4s;

}
.hot .show .mask1 img{
    top:50%;
    left:50%;
    margin-left: -62px;
    margin-top: -47px;
    transform:scale(3);
    transition:all .4s;
}
.hot .show .mask2{
    width: 100%;
    height: 100%;
    background: url(../images/case-hot-mask2.png);
    top:0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition:all .4s;

}
.hot .show li:hover .mask1{
    opacity: 1;
}
.hot .show li:hover .mask1 img{
    transform:scale(1);
}
.hot .show li:hover .mask2{
    opacity: 1;
}
.hot .show li:hover .mask2 img{
    transform:scale(1);
}
.hot .show .mask2 img{
    top:50%;
    left:50%;
    margin-left: -62px;
    margin-top: -47px;
    transform:scale(3);
    transition:all .4s;
}
.hot .show .show1{
    left:-12px;
    top:-14px;
}
.hot .show .show2{
    left:88px;
    top:281px;
}
.hot .show .show3{
    left:262px;
    top:101px;
}
.hot .show .show4{
    left:364px;
    top:0px;
}
.hot .show .show5{
    left:538px;
    top:-15px;
}
.hot .show .show6{
    left:639px;
    top:283px;
}
.hot .show .show7{
    left:813px;
    top:103px;
}
.hot .show .show8{
    left:915px;
    top:0px;
}
.hot .pagination2 {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}

.hot .swiper-pagination-switch {
  display: inline-block;
  width: 51px;
  height: 5px;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}
.hot .swiper-active-switch {
  background: #a98251;
}
.hot .hot-footer{
  text-align: center;
  height: 35px;
  line-height: 35px;
  margin-bottom: 90px;
}
/*底部开始*/
.footer{
    width:100%;height:227px;
    background-color:#131313;
    position:relative;
}
.footer .footer-logo{
  width:183px;
  height: 66px;
  background-image: url(../images/footer_logo_03.png);
}

.footer .wrap{width:1200px;
            height:227px;
            margin:0 auto;
              position:relative;}

.footer .wrap .footer-logo{margin-left:21px;
                           position:absolute;
                           top:60px;}

.footer .wrap .icon{
  width:177px;
  height:38px;
  margin-left:512px;
  position:absolute;
  top:52px;
}

.footer .wrap .icon li{
  width:36px;
  height:36px;
  border-radius:40px;
  float:left;

}

.footer .wrap .icon1{margin-right:34px;
                   background:url(../images/index-sprite.png) no-repeat;
                   background-position:-38px -20px ;}

.footer .wrap .icon2{margin-right:34px;
                   background:url(../images/index-sprite.png) no-repeat;
                     background-position:0 -20px ;}

.footer .wrap .icon3{
                     background:url(../images/index-sprite.png) no-repeat;
                     background-position:-75px -20px ;}

.footer .ai{
    width:100%;
    height: 47px;
    background-color:#131313;
    border-top:1px solid #272727
}

.footer .ai p{
    text-align: center;
    line-height:47px;
    font-size:14px;
}

.footer .footer_nav{
   position:absolute;
   left:200px;
   top:180px;

}

.footer .footer_nav li{
    float: left;
    font-size: 14px;
    text-align: center;
    width:104px;
    border-right:1px solid #222222;
    height:14px;line-height:14px;}


.footer .code{
    width: 121px;
    height:122px;
    position:absolute;
    right:15px;
    top:31px;
    background:url(../images/index-sprite.png) no-repeat;
    background-position:-2px -66px;
 }