@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2016-12-26 10:29:49
 * @version $Id$
 */
/*顶部开始*/
.header{
    width:100%;
    height:88px;
    background-color:#131313;
    min-width:1200px;
    position:relative;
}
.header .logo h1{
    background-image:url(../images/bridal-img.png);
    width:138px;
    height:49px;
}
.header .wrap{
    width:1200px;
    margin:0 auto;
    height:88px;
}
.header .wrap .nav{
    width:875px;
    margin-left:162px;
    height:88px;
    position:relative;
}
.header .logo{
    width:138px;
    height:49px;
    margin-top:20px;
    margin-left:-250px;
}
.header .wrap .nav li{
    color:#fff;
    font-size:14px;
    /*border:1px solid red;
    */float:left;
    width:107px;
    height:88px;
    line-height:88px;
    text-align:center;
}
.header .wrap .nav li:hover{
    color::;
    color:#ad8a5c;
}
.header .phone .phone1{
    width:140px;
    height:23px;
    color:#fff;
    margin-bottom:5px;
}
.header .phone{
    width:140px;
    height:60px;
    position:absolute;
    right:0;
    top:15px;
    margin-right:20px;
}
.header .phone span{
    color:#fff;
    font-size:16px;
}
.header .phone .phone1 .icon{
    width:21px;
    height:20px;
    display:inline-block;
    background:url(../images/index-sprite.png);
    vertical-align:middle;
}
.header .phone .make{
    width:140px;
    height:23px;
    color:#fff;
    background-color:#a97432;
    text-align:center;
    line-height:23px;
    margin-top:-2px;
}
.header .phone .make:hover{
    opacity:0.7;
}
.header .wrap .nav .last{
    width:110px;
}

@media (max-width:1800px){
    .phone{display:none;}
    .header .wrap .nav span{margin-right:40px;}
    .header .wrap .nav{margin-left:250px;}
}


/* 底部开始 */
.footer{
    width:100%;height:227px;
    background-color:#131313;
    position:relative;
}
.footer .footer-logo{
    width:183px;
    height: 66px;
    background-image: url(../images/footer_logo_03.png);
}

.footer .wrap{width:1200px;
              height:227px;
              margin:0 auto;
              position:relative;}

.footer .wrap .footer-logo{margin-left:21px;
                           position:absolute;
                           top:60px;}

.footer .wrap .icon{
    width:177px;
    height:38px;
    margin-left:512px;
    position:absolute;
    top:52px;
}

.footer .wrap .icon li{
    width:36px;
    height:36px;
    border-radius:40px;
    float:left;

}

.footer .wrap .icon1{margin-right:34px;
                     background:url(../images/index-sprite.png) no-repeat;
                     background-position:-38px -20px ;}

.footer .wrap .icon2{margin-right:34px;
                     background:url(../images/index-sprite.png) no-repeat;
                     background-position:0 -20px ;}

.footer .wrap .icon3{
                     background:url(../images/index-sprite.png) no-repeat;
                     background-position:-75px -20px ;}

.footer .wrap .icon li:hover{
    background-color:#a97432;
}

.footer .ai{
    width:100%;
    height: 47px;
    background-color:#131313;
    border-top:1px solid #272727
}

.footer .ai p{
    text-align: center;
    line-height:47px;
    font-size:14px;
}

.footer .footer_nav{
   position:absolute;
   left:200px;
   top:180px;

}

.footer .footer_nav li{
    float: left;
    font-size: 14px;
    text-align: center;
    width:104px;
    border-right:1px solid #222222;
    height:14px;line-height:14px;}



.footer .footer_nav li:hover a{
    color:#a97432;
}


.footer .code{
    width: 110px;
    height:122px;
    position:absolute;
    right:15px;
    top:31px;
    background:url(../images/index-sprite.png) no-repeat;
    background-position:0 -66px;
 }