@charset "UTF-8";
/*subnav开始*/

.subnav ul li{
    float: left;
    font-size: 16px;
    color:#303030;
}
.subnav ul li a.current{
    color:#f2703d;
}
.subnav ul li a:hover{
    color:#f2703d;
}
/*details开始*/
.details .bigimg{
    margin-bottom: 15px;
    width: 574px;
    height: 456px;
    cursor:move;
}
.details .bigimg b{
    width: 287px;
    height: 228px;
    background-color:pink;
    opacity:.5;
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.details .zoomimg{
    width: 574px;
    height: 456px;
    overflow: hidden;
    display: none;
}
.details .zoomimg img{
    position: absolute;
    width: 1148px;
    max-width: 1148px;
}
.details .smallimg li{
    float: left;
    cursor:pointer;
    margin-right:10px;
}
.details .smallimg li.current{
    outline:1px solid black;
}
.details .smallimg ul{
    background:#d1d1d1;
}
.details .smallimg .arrow{
    text-align: center;
    width: 52px;
    margin-top: 25px;
    margin-right: 0;
}
.details .smallimg .right img{
    transform:rotate(180deg);
}
.details .info{
    width: 600px;
    margin-left: 24px;
}
.details .info .tit{
    border-bottom:1px solid #dfdfdf;
    padding-bottom:15px;
}
.details .info h2{
    color:#303030;
}
.details .info .notice{
    font-size: 20px;
    color:#303030;
}
.details .info .size{
    font-size: 12px;
    color: #a4a4a4;
}
.details .info .size .p1{
    margin-bottom: 5px;
}
.details .info .size .one{
    width: 85px;
    display: inline-block;
    *display: inline;
    *zoom:1;
}
.details .info .size .two{
    margin-left: 50px;
}
.details .info .price{
    width: 600px;
    height: 130px;
    background-color:#f2703d;
    margin-top: 25px;
}
.details .info .price span{
    font-size: 45px;
    color:#fff;
}
.details .info .price .rmb{
    margin-left: 40px;
    margin-right: 15px;
}
.details .info .price .num{
    font-size: 70px;
}
.details .info .price .discount{
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin-left: 20px;
}
.details .info .price .discount .img{
    width: 78px;
    height: 28px;
    line-height: 28px;
    background: url(../images/last-discount.png);
}
.details .info .price .discount .img span{
    color:#f2703d;
    font-size:14px;
    margin-left: 15px;
}
.details .info .price .discount s{
    color:#fff;
    font-size: 14px;
}
.details .info .buy{
    margin-top: 38px;
}
.details .info .buy span{
    font-size: 20px;
    color:#f2703d;
}
.details .info .buy div{
    display: inline-block;
    *display: inline;
    *zoom:1;
    font-size: 20px;
    color:#2c2c2c;
}
.details .info .buy .left{
    margin-left: 42px;
    margin-right: 108px;
}
.details .info .bottom{
    height: 69px;
    border-top: 1px solid #dfdfdf;
    margin-top: 30px;
}
.details .info .bottom .online{
    width: 136px;
    height: 50px;
    background:#f2703d;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
}
.details .info .bottom .online a{
    color:#fff;
}
.details .info .bottom .icon{
    font-size: 12px;
    color:#5f5f5f;
    top:10px;
    left:480px;
}
.details .info .bottom .icon p{
    display: inline-block;
    *display: inline;
    *zoom:1;
}
.details .info .bottom .icon i{
    display: inline-block;
    *display: inline;
    *zoom:1;
    width: 10px;
    height: 11px;
    background: url(../images/last-share.png);
    vertical-align: middle;
}
.details .info .bottom .icon  .first{
    margin-right: 10px;
}
.details .info .bottom .icon  .first i{
    background: url(../images/last-collect.png);
}
/*mc开始*/
.mc{
    margin-top: 45px;
}
.mc .ele .tit li{
    font-size:16px;
    color:#fff;
    width: 160px;
    height: 45px;
    float: left;
    text-align: center;
    line-height: 45px;
    cursor:pointer;
    position: relative;
}
.mc .ele .tit li .triangle{
    width: 0px;
    height: 0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #a98251;
    border-bottom: none;
    position: absolute;
    top:45px;
    left:66px;
    display: none;
}
.mc .ele .tit li .second{
    border-top:10px solid #bf9156;
}
.mc .ele .tit li .third{
    border-top:10px solid #cc9e65;
}
.mc .ele .ele-cont .cont{
    background: #eee;
    padding-top: 45px;
    padding-left: 60px;
}
.mc .ele .ele-cont .cont h3{
    width: 144px;
    height: 47px;
    background: url(../images/last-tit1.png) no-repeat;
    margin-left: 280px;
}
.mc .ele .ele-cont .cont .bottom{
    background: #fff;
    margin-right: 60px;
    border-radius: 10px;
    padding:30px;
    margin-top: 30px;
}
.mc .ele .ele-cont .cont .bottom dt{
    color:#a98251;
    font-size: 14px;
}
.mc .ele .ele-cont .cont .bottom dd{
    font-size: 12px;
    color:#4e4e4e;
    line-height: 2;
}
.mc .ele .ele-cont .second h3{
    width: 105px;
    height: 52px;
    background: url(../images/last-tit2.png)no-repeat;
    margin-left:300px;
}
.mc .ele .ele-cont .second dt{
    text-align: center;
    margin-bottom: 12px;
}
.mc .ele .ele-cont .second dd{
    text-align:center;
}
.mc .ele .ele-cont .second .img{
    text-align: center;
    margin-top: 20px;
}
.mc .ele .ele-cont .third{
    padding-bottom: 90px;
}
.mc .ele .ele-cont .third h3{
    width: 104px;
    height: 56px;
    background: url(../images/images/last-tit3.png);
    margin-left: 300px;
}
.mc .ele .ele-cont .third .review li{
    width: 500px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    float: left;
    background: #666;
    padding-left: 28px;
}
.mc .ele .ele-cont .third .review li.we{
    width: 90px;
    background: #a98251;
    text-align: center;
    padding-left: 0;
}
.mc .ele .ele-cont .third .review li a{
    color:#fff;
}
.mc .ele .ele-cont .third .review-cont li{
    padding-top: 12px;
    padding-bottom: 12px;
}
.mc .ele .ele-cont .third .review-cont li.one{
    border-bottom:1px solid #dfdfdf;
}
.mc .ele .ele-cont .third .review-cont li.more{
    text-align: center;
    padding: 0;
    /*margin-bottom: 90px;
    */;
}
.mc .ele .ele-cont .third .review-cont p{
    display: inline-block;
    *display: inline;
    *zoom:1;
    width: 504px;
    font-size: 12px;
    color:#606060;
    line-height: 1.8;
    margin-top: 10px;
    margin-left: 20px;
}
.mc .aside .tit{
    color:#fff;
    width: 360px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #cc9e65;
    font-size: 16px;
}
.mc .aside .aside-bottom{
    padding-top: 24px;
    padding-left: 5px;
}
.mc .aside .aside-bottom .contain{
    height: 1026px;
    overflow: hidden;
    position: relative;
}
.mc .aside .aside-bottom .contain ul{
    position: absolute;
    left: 0;
    top: 0;
}
.mc .aside .aside-bottom li{
    background: #eee;
    padding-bottom: 10px;
    cursor:pointer;
}
.mc .aside .aside-bottom li p{
    color:#a98251;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 310px;
    border-bottom: 1px solid #d5d5d5;
    margin-left: 15px;
    padding-left:5px;
}
.mc .aside .aside-bottom li .aside-price span{
    font-size: 30px;
}
.mc .aside .aside-bottom li .aside-price del{
    font-size:20px;
    color:#2c2c2c;
    margin-left: 50px;
}
.mc .aside .aside-bottom li .aside-price{
    border:none;
}
.mc .aside .aside-bottom .arrow{ margin-top: 35px; }
.mc .aside .aside-bottom .arrow div{
    cursor:pointer;
}
.mc .aside .aside-bottom .arrow .up{
    margin-left: 70px;
}
.mc .aside .aside-bottom .arrow .down{
    margin-left: 75px;
}
.mc .aside .aside-bottom .arrow .up img{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*price开始*/
.last-price{
    width: 100%;
    height: 165px;
    background: #b3b3b3;
    margin-top:35px;
    padding-top: 45px;
}
.last-price .wrapper .img{
    margin-left: 230px;
}
.last-price .wrapper .button{
    width: 234px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#ececec;
    font-size: 20px;
    background: #a98251;
    position: absolute;
    right:236px;
    top:35px;
}
.titfix{
    position: fixed;
    top:0;
    left: 350px;
    display: none;
}
.titfix li{
    font-size:16px;
    color:#fff;
    width: 160px;
    height: 45px;
    float: left;
    text-align: center;
    line-height: 45px;
    cursor:pointer;
}
.details .info .icon a:hover{
    color:#f2703d;
}
.back{
    position: fixed;
    right:100px;
    bottom: 100px;
    width: 60px;
    height: 60px;
    background: #181818;
    border-radius: 10px;
    color:#fff;
    text-align: center;
    font-size: 16px;
    cursor:pointer;
    display: none;
}